In [ ]:
def pattern():
  n=3
  for i in range(3):
    for j in range(n-1):
      print(j*" "+"*")
    for j in range(n-1,0,-1):
      print(j*" "+"*")
  print("*")
pattern()

*
 *
  *
 *
*
 *
  *
 *
*
 *
  *
 *
*

In [ ]:
def pattern():
  p=3
  n=3
  for i in range(p):
    for j in range(n):
      print(j*" "+"*"+2*(n-j)*" "+"*")
    for j in range(n,0,-1):
      print(j*" "+"*"+2*(n-j)*" "+"*")

pattern()

*      *
 *    *
  *  *
   **
  *  *
 *    *
*      *
 *    *
  *  *
   **
  *  *
 *    *
*      *
 *    *
  *  *
   **
  *  *
 *    *

In [ ]:
def pattern():
  p=3
  n=3
  for i in range(p):
    for j in range(n):
      print(j*" "+"*"+(2*(n-j)-1)*" "+"*")
    for j in range(n-2,0,-1):
      print(j*" "+"*"+(2*(n-j)-1)*" "+"*")

pattern()

*     *
 *   *
  * *
 *   *
*     *
 *   *
  * *
 *   *
*     *
 *   *
  * *
 *   *

In [ ]:
n=3
for j in range(n-1,0,-1):
      print(j*" "+"*"+2*(n-j)*" "+"*")

  *  *
 *    *

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4